@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background: hsl(235, 100%, 50%);
  color: hsl(23, 100%, 50%);
}

#my-name {
  text-transform: capitalize;
  text-align: center;
  padding: 50px;
}
